* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
}

h2, h3, p {
  pointer-events: none;
  user-select: none;
}

h2 {
  border-bottom: 2px solid #ccc;
  padding-bottom: 5px;
}

.main {
  display: flex;
  height: 95vh;
}

.topbar {
  -webkit-app-region: drag;
  height: 5vh;
  width: 100%;
}

.sidebar {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  width: 250px;
  margin: 25px;
  backdrop-filter: blur(10px);
  border-radius: 15px;
  background-color: #f0f0f0;
  padding: 10px 30px;
}

.sidebar-header {
  color: dodgerblue;
}

.sidebar-content {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 75px 25px 50px 25px;
  flex-direction: column;
  flex-grow: 1;
  gap: 5px;
}

.sidebar-footer {
  display: flex;
  justify-content: space-evenly;
  margin: 0px -30px;
}

.folder-selection-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 95vh;
}

.folder-selection-text {
  font-size: 20px;
  font-weight: bold;
  color: #ccc;
}

.todo-page {
  display: flex;
  height: 95vh;
}

.content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  background-color: lightgray;
  color: white;
  height: 30px;
  padding: 0px 20px;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  align-self: center;
}

.footer-button {
  display: flex;
  align-items: center;
  gap: 2px;
  border: none;
  color: gray;
  background-color: transparent;
}

.footer-button:hover {
  color: rgb(94, 94, 94);
}

.footer-button:active {
  color: black;
}

.button:hover {
  background-color: rgb(191, 191, 191);
}

.button:active {
  background-color: rgb(156, 156, 156);
}

.todo-list {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 0;
  margin: 0;
  list-style: none;
  overflow-y: scroll;
  scrollbar-width: none;
}

.todo-list-item {
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 5px;
}

.todo-list-active {
  background-color: lightgray;
}

.todo-list-item:hover {
  background-color: lightgray;
}

.todo-list-item:active {
  background-color: rgb(191, 191, 191);
}

.todo-list-item:last-child {
  border-bottom: none;
}

.todo-list-item-title {
  text-align: left;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.5;
  font-weight: bold;
}

.todo-list-item-description {
  text-align: left;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
}

.button-icon {
  font-size: large;
}

.todo-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 25px;
  padding: 10px 30px;
}

.todo-input {
  color: black;
  border: none;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  border-bottom: 2px solid #ccc;
  flex-grow: 0;
}

.todo-textarea {
  color: black;
  border: none;
  font-size: 16px;
  font-weight: normal;
  flex-grow: 1;
  resize: none;
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 2px solid #ccc;
}

.todo-buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}

.todo-button:hover {
  color: gray;
}

.todo-button:active {
  color: black;
}

.no-todo-content {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #ccc;
  font-weight: bold;
  font-size: 24px;
  pointer-events: none;
  user-select: none;
}